spacy==3.3
spacy-transformers==1.1.6
pandas==1.4.2
ipdb>=0.13
cupy-cuda116==10.5.0
transformers==4.19.4
datasets
sklearn
jupyter
# https://discuss.pytorch.org/t/pytorch-cuda-11-6/149647
# pip install torch --pre --extra-index-url https://download.pytorch.org/whl/nightly/cu116
